@model List<AppRole>
@{
    Layout = "_Layout";
}


<div class="col-md-8">
    <h5>Roller</h5>
    <table class="table table-bordered">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>



                    <td>@item.Id</td>

                    <td>@item.Name</td>
                    <td>
                        <a href="/AdminRol/UpdateRole/@item.Id" class="btn btn-warning btn-sm">Update</a>
                        <a href="/AdminRol/DeleteRole/@item.Id" class="btn btn-danger btn-sm">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a href="/AdminRol/AddRole" class="btn btn-outline-primary">Yeni Rol Ekle</a>
<a href="/AdminRol/UserRoleList" class="btn btn-outline-info">Kullanıcı Rol Listesi</a>
