@model RoleUpdateViewModel

<h1>Rol Düzenleme Sayfası</h1>

<form method="post">
    <div class="form-group">
        <label>Role Id</label>
        <input type="text" name="Id" value="@Model.Id" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Role Başlığı</label>
        <input type="text" name="name" value="@Model.name" class="form-control" />
    </div>

    
    <button class="btn btn-info">Rolü Güncelle</button>
</form>
