@model MoviesViewModel

@{
    Layout = "_Layout";
}


<h1>Film Listesi</h1>
<div id="filmler">
    @if (Model.Movies.Count() > 0)
    {
        @foreach (var movie in Model.Movies)
        {
            @await Html.PartialAsync("_movies", movie)
        }
    }
    else
    {
        <div class="alert alert-warning">
            Film Bulunamadı
        </div>
    }



</div>

@if (TempData["Message"] != null)
{
    @section message
    {
        @await Html.PartialAsync("_message",(string)TempData["Message"])
    }
}





@section menu
{
    @await Component.InvokeAsync("Genres")
}



